* { box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

h1 {
    color: green;
    text-align: center;
    border: 1px solid green;
    width: 400px;
    margin-left: 480px;
}

filet { 
    padding: 100px;
    border: 1px solid red;
}
