* { box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

h1 {
    color: green;
    text-align: center;
    border: 1px solid green;
    width: 400px;
    margin-left: 480px;
}

.steaks-first {
    font-size: 16px;
    color: purple;
}

.steaks-second {
    color: purple;
}

.steak-image {
    margin-left: 480px;
}